APP_NAME="Pertamina NetShield"
DATABASE_URL="sqlite:///./netshield.db"
FONNTE_TOKEN=""
WA_GROUP_OFFICE_SAFETY=""
WA_GROUP_TANK_MAINTENANCE=""
WA_GROUP_FILLING_SHED=""
WA_GROUP_IT_SUPPORT=""
WA_GROUP_MANAGER_DEPOT=""
